# Self Practice 

Steps :
1. Identify and get the database connection credentials
1. Connect to the database
1. Create a table then, Insert data into the table
1. Query data from the table and make a pandas dataframe

# 1

In [1]:
#Copying from the DB console

a={
  "db": "BLUDB",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=mdm67023;PWD=gmzv@m0fzls7b1g9;",
  "host": "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "hostname": "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "https_url": "https://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB",
  "parameters": {},
  "password": "gmzv@m0fzls7b1g9",
  "port": 50000,
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=mdm67023;PWD=gmzv@m0fzls7b1g9;Security=SSL;",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;",
  "uri": "db2://mdm67023:gmzv%40m0fzls7b1g9@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB",
  "username": "mdm67023"
}

# 2

In [2]:
import ibm_db

try:
    conn = ibm_db.connect(a['dsn'], "", "")
    print ("Connected to database: YaY ")

except:
    print (ibm_db.conn_errormsg(),"Unable to connect: ")

Connected to database: YaY

# 3. Now I will begin with creating a table
usually this is a data source that can be installed into the console directly as a `csv`

In [19]:
dropStmt = ibm_db.exec_immediate(conn, 
                                 "drop table INSTRUCTOR")

In [20]:
createStmt = ibm_db.exec_immediate(conn,
                                   "create table INSTRUCTOR\
                                   (ID INTEGER PRIMARY KEY NOT NULL,\
                                   FNAME VARCHAR(20),\
                                   LNAME VARCHAR(20),\
                                   CITY VARCHAR(20),\
                                   CCODE CHAR(2))"
                                   )

In [24]:
insertStmt = ibm_db.exec_immediate(conn,
                                   "INSERT INTO INSTRUCTOR\
                                   (ID,FNAME,LNAME,CITY,CCODE)\
                                   VALUES\
                                   (1,'RAV','AHUJA','DELHI','DL'),\
                                   (2,'JIT','SINGH','AMRITSAR','AM'),\
                                   (3,'SAM','BABU','VELLORE','VL')"\
                                  )

Now I will try some **_querry_** for practice

In [44]:
selectStmt = ibm_db.exec_immediate(conn, 
                                   "SELECT * FROM INSTRUCTOR"
                                  )
while (ibm_db.fetch_row(selectStmt)==True):
    print(ibm_db.result(selectStmt,"ID"),
          ibm_db.result(selectStmt,"FNAME"),
          ibm_db.result(selectStmt,"LNAME"),
          ibm_db.result(selectStmt,"CITY"),
          ibm_db.result(selectStmt,"CCODE")
         )

1 RAV AHUJA DELHI DL
2 JIT SINGH AMRITSAR AM
3 SAM BABU VELLORE VL

# 4. I shall make a DataFrame using pandas

In [47]:
import pandas
import ibm_db_dbi

pconn = ibm_db_dbi.Connection(conn)

In [55]:
Q = "select * from INSTRUCTOR"
pdf = pandas.read_sql(Q, pconn)
pdf

   ID FNAME  LNAME      CITY CCODE
0   1   RAV  AHUJA     DELHI    DL
1   2   JIT  SINGH  AMRITSAR    AM
2   3   SAM   BABU   VELLORE    VL

In [56]:
ibm_db.close(conn)

True